## Function

In [1]:
1 + 1

2

In [4]:
def summation(a,b):
    result = a + b
    return result

# multiply 라는 곱셈 연산을 하는 함수를 작성하세요
def multiply(a,b):
    result = a * b
    return result

In [3]:
summation(2,3)

5

In [5]:
multiply(2,7)

14

In [6]:
# parameter(입력)이 없는 함수 1
def print_hello():
    return "Hello python!"

In [7]:
print_hello()

'Hello python!'

In [8]:
# parameter(입력)이 없는 함수 2
def print_hello_2():
    hello = "Hello python again!"
    return hello

In [9]:
print_hello_2()

'Hello python again!'

In [10]:
# return(출력)이 없는 함수
def func_wo_return(a):
    print("This is function {} return!!".format(a))

In [11]:
func_wo_return("with")

This is function with return!!

In [12]:
# 출력이 존재한다면 그 결과값이 변수에 선언됩니다
some_string = print_hello()
some_string

'Hello python!'

In [14]:
another_string = func_wo_return("without")

This is function without return!!

In [15]:
# 출력이 존재하지 않아 변수에 아무런 값도 존재하지 않습니다
another_string

In [16]:
# 출력이 존재하지 않는 예제
some_list = [2,4,1]
sorted_list = some_list.sort()

In [18]:
some_list

[1, 2, 4]

In [24]:
# 여러 값을 동시에 출력하는 함수
def multiple_return(a):
    b = a + 1024
    return a, b

In [33]:
multiple_return(-24)

(-24, 1000)

In [35]:
x, y = multiple_return(-20)
print(y-x)

1024

In [39]:
def id_check(username):
    if username == "admin":
        return "invalid username: {}".format(username)
    else:
        print("valid username: {}".format(username))
    print("anything else?")

username = input("Enter username?")
id_check(username)

Enter username?fastcampus
valid username: fastcampus
anything else?

In [61]:
def say_hello(a,name="Fool",lang="ko"):
    if name == "Fool":
        return "Oh, You are {}{}. And {}".format(a, name, lang)
    else:
        return "Hi, {}{}. And you are not fool. And {}".format(a, name, lang)

say_hello(10, "seong-su", "en")

'Hi, 10seong-su. And you are not fool. And en'

In [71]:
# arguments: 얼마인지 알 수 없는 여러개의 입력값을 받고 싶을 때
# arguments는 항상 마지막에 위치해야 합니다.
# ex) multiple_sum(a, *args):
def multiple_sum(*args):
    sum_ = 0
    for i in args:
        sum_ += i
    return sum_

In [72]:
multiple_sum(1,2,3,4,5,6,7,8,9,10)

55

In [73]:
def multiple_multiply(*dogs):
    result = 1
    for i in dogs:
        result = result * i # result *= i
    return result

In [74]:
multiple_multiply(1,2,3,4,5)

120

In [87]:
def show_kwargs(**kwargs):
    print(kwargs.keys())
    print(kwargs.values())
    print(kwargs.items())
    return str(kwargs)

In [88]:
show_kwargs(a=10, b=True)

dict_keys(['a', 'b'])
dict_values([10, True])
dict_items([('a', 10), ('b', True)])

"{'a': 10, 'b': True}"

In [95]:
def kwargs_url(server, port, **query):
    url = "https://" + server + ":" + port + "/search.naver?"
    
    for key in query.keys():
        url = url + key + "=" + query[key] + "&"
        
    return url[:-1]
kwargs_url("search.naver.com","443",where="nexsearch",ie="utf-8",query="성수역")

'https://search.naver.com:443/search.naver?where=nexsearch&ie=utf-8&query=성수역'

In [98]:
a = "hello"
x = 12
def complete_hello(x):
    a = 1
    x += " world"
    return x

complete_hello(a)
print(a)

hello

In [100]:
a = "hello"
print(a)
def glob_test(x):
    x += "world"
    return x

a = glob_test(a)
print(a)

hello
helloworld

In [104]:
b = "hello"
print(b)

# 외부 의존적인 함수는 나빠요.
def awful_glob():
    global c
    c += "python"
    
awful_glob()
print(b)

hello

NameError: name 'c' is not defined

In [110]:
# 4의 배수 -> 윤년
# 100의 배수 -> 평년
#       +         ==>  and or
# 400의 배수 -> 윤년

# Way 1: Fizzbuzz처럼 풀기
def is_leap(x):
    if x % 400 == 0:
        return "윤년입니다"
    elif x % 100 == 0:
        return "평년입니다"
    elif x % 4 == 0:
        return "윤년입니다"
    else:
        return "평년입니다"

year = int(input("Type the year: "))
is_leap(year)
# True or False, "윤년입니다" or "평년입니다"

Type the year: 2101

'평년입니다'

In [118]:
# 4의 배수 -> 윤년
# 100의 배수 -> 평년 
#       +         ==>  and or
# 400의 배수 -> 윤년

# 4의 배수 , 100의 배수(x), 400의 배수 => 윤년
# 나머지 => 평년

# 2000 => 4, 100, 400
# 2001 => x
# 2004 => 4
# 2100 => 4, 100
# 2400 => 4, 100, 400

def is_leap2(year):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
        return "윤년"
    else:
        return "평년"
    
year = int(input("Is leap? "))
is_leap2(year)

Is leap? 2400

'윤년'

In [119]:
is_leap2(2100)

'평년'

In [120]:
is_leap2(2004)

'윤년'

In [124]:
import random

# 1에서 100 사이의 임의의 정수 추출
answer = random.randint(1,100)
print(answer) #디버깅을 위한 정답 출력

trial = 5

def guesser(guess):
    global trial
    if guess == answer:
        print("Correct!!")
        trial = 0
    # answer와 guess가 일치하지 않을때 ==> "Wrong!!"
    else:
        # Up & Down 구현
        # print("Wrong!!")
        if guess > answer:
            print("Down")
        else:
            print("Up")
            trial -= 1
        # Limit trial
        if trial == 0:
            print("Failed!!!")
        else:
            print("{} times left".format(trial))
        
while trial > 0:
    guess = int(input("Guess the number(1 to 100) >> ")) # 사용자 입력
    # answer와 guess가 일치할때 ==> "Correct!!"
    
    guesser(guess)

13
Guess the number(1 to 100) >> 11
Up
4 times left
Guess the number(1 to 100) >> 11
Up
3 times left
Guess the number(1 to 100) >> 11
Up
2 times left
Guess the number(1 to 100) >> 11
Up
1 times left
Guess the number(1 to 100) >> 11
Up
Failed!!!

In [125]:
for i in range(1,5+1):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [131]:
def print_hello(trial):
    if trial == 0:
        return
    print("hello world")
    return print_hello(trial - 1)

In [132]:
print_hello(5)

hello world
hello world
hello world
hello world
hello world

In [134]:
def recurse_beast(trial):
    if trial == 0:
        return "curse complete!"
    else:
        print("Fusion!({}times left)".format(trial-1))
        return recurse_beast(trial-1)

In [135]:
trial = int(input("How many times do you want? "))
recurse_beast(trial)

How many times do you want? 3
Fusion!(2times left)
Fusion!(1times left)
Fusion!(0times left)

'curse complete!'

## List Comprehension

In [136]:
old_list = [1,2,3,4,5]

doubled_list = []

for i in old_list:
    doubled_list.append(i*2)

In [137]:
doubled_list

[2, 4, 6, 8, 10]

In [139]:
doubled_list = [i*2 for i in old_list]
doubled_list

[2, 4, 6, 8, 10]

In [140]:
tripled_list = [i*3 for i in old_list]
tripled_list

[3, 6, 9, 12, 15]

In [141]:
new_doubled_list = []

for i in old_list:
    if i % 2 == 0:
        new_doubled_list.append(i*2)
        
new_doubled_list

[4, 8]

In [142]:
new_doubled_list = [i*2 for i in old_list if i % 2 == 0]
new_doubled_list

[4, 8]

In [143]:
"Fizz"*True

'Fizz'

In [144]:
"Fizz"*False

''

## File I/O

In [145]:
f = open('new_file.txt', 'w')
f.close()

In [146]:
f = open('new_file.txt', 'a')
for i in range(1, 10+1):
    text = "new_line no.{}\n".format(i)
    f.write(text)
f.close()

In [147]:
f = open('new_file.txt', 'a')
for i in range(21,30+1):
    text = "Brand new_line no.{}\n".format(i)
    f.write(text)
f.close()

In [150]:
f = open('new_file.txt', 'r')
text = f.readline()
print(text)
f.close()

new_line no.1

In [151]:
f = open('new_file.txt', 'r')

while True:
    text = f.readline()
    if not text: 
        break
    print(text)

f.close()

new_line no.1

new_line no.2

new_line no.3

new_line no.4

new_line no.5

new_line no.6

new_line no.7

new_line no.8

new_line no.9

new_line no.10

Brand new_line no.21

Brand new_line no.22

Brand new_line no.23

Brand new_line no.24

Brand new_line no.25

Brand new_line no.26

Brand new_line no.27

Brand new_line no.28

Brand new_line no.29

Brand new_line no.30

In [152]:
f = open('new_file.txt', 'r')
for text in f.readlines():
    print(text)
f.close()

new_line no.1

new_line no.2

new_line no.3

new_line no.4

new_line no.5

new_line no.6

new_line no.7

new_line no.8

new_line no.9

new_line no.10

Brand new_line no.21

Brand new_line no.22

Brand new_line no.23

Brand new_line no.24

Brand new_line no.25

Brand new_line no.26

Brand new_line no.27

Brand new_line no.28

Brand new_line no.29

Brand new_line no.30

In [153]:
#f = open('new_file.txt', 'r')
#for text in f.readlines():
#    print(text)
#f.close()

with open('new_file.txt', 'r') as f:
    for text in f.readlines():
        print(text)

new_line no.1

new_line no.2

new_line no.3

new_line no.4

new_line no.5

new_line no.6

new_line no.7

new_line no.8

new_line no.9

new_line no.10

Brand new_line no.21

Brand new_line no.22

Brand new_line no.23

Brand new_line no.24

Brand new_line no.25

Brand new_line no.26

Brand new_line no.27

Brand new_line no.28

Brand new_line no.29

Brand new_line no.30

## Error Handle

In [154]:
try:
    pass
except:
    pass

In [160]:
try:
    int(input("Type Number: "))
except ValueError as e:
    print("I said NUMBER!!!!!!!")
    print(e)

Type Number: hi
I said NUMBER!!!!!!!
invalid literal for int() with base 10: 'hi'

In [163]:
try:
    f = open('error.txt', 'r')
except FileNotFoundError as e:
    pass
    #print(e)
except ValueError:
    pass
except NameError:
    pass
else:
    print(f.readline())
    f.close()
    
print("hello")

hello